# Ignore local scripts
dev/

# Ignore file extensions
*.gpkg
*.geojson
*.shp
*.prj
*.shx
*.dbf
*.sbn
*.sbx
*.sha256
.DS_Store

Manifest.toml

docs/build/
docs/final_site
docs/.quarto/
docs/_site/
docs/site_libs/
docs/*.html